/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-extra-dark: #283136;
  --basic-grey: #242424;
  --basic-dum-grey: #666666;
  --basic-beige: #EEEEEE;
  --basic-beige-fon: #888888;

  --special: #E74246;
  --special-logo: #FB565A;}

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--beige-fon);

  min-height: 100%;
  display: grid;
  align-content: start;
  grid-template-rows: min-content 1fr min-content;}

img {
  max-width: 100%;
  height: auto;}

.button{
  color: var(--basic-white);
  background-color: red; /*нужно удалить, когда будет цвет кнопок */
  font: inherit;
  text-align: center;
  border: none;}

a {
  text-decoration: none;}

.site-navigation,
.services-list,
.aside ul,
.focioter-social,
.grid-list,
.features-list,
.template,
.pagination-list ul,
.focioter-social{
  list-style: none;}

.basket-link {
  list-style: none;
  color: var(--basic-black);}

  /* Grid*/

.page {
  height: 100%;}

/* Header */

.main-header {
  font-weight: 500;
  line-height: 30px;
  background-color: var(--basic-beige);
  text-transform: uppercase;}

.main-navigation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;}

.main-header-logo {
  width: 159.87px;
  height: 48.75px;}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;}


.site-navigation a,
.basket-link a,
.site-navigation a:focus,
.basket-link:focus {
  color: var(--basic-black);}

.site-navigation a:hover,
.basket-link:hover{
  color: var(--special-logo);}

.site-navigation {
  margin: 0;
  padding: 0;
  align-content: start;
  width: 437px;}

.basket-navigation {
  max-width: 120px;}

.basket-navigation .basket-link{
  padding-left: 50px;}

  /* Container */

.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;}

  /* Main*/

.advantages {
  background-color: var(--basic-beige);
  display: grid;
  grid-template-columns: 420px 760px;
  margin: 0 auto;
  padding: 0 10px;}

.slogan {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-transform: uppercase;}

.services-list {
  text-align: left;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  margin-right: 200px;}

.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;}

.services-item p {margin: 0 10px;}

.slogans {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;}

.aside {
  display: grid;
  grid-template-columns: 652px 360px;
  column-gap: 150px;}

.aside img {
  grid-column-start: 2;
  grid-column-end: -1;}

.aside caption,
.orders {
  font-weight: 700;
  text-transform:uppercase;}

.orders {
  grid-column-start: 1;
  grid-column-end: 2;}

.aside ul {
  grid-column-start: 1;
  grid-column-end: 2;}

.aside td {
  line-height: 18px;}

.accuracy-table th {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;}

.accuracy-table .interest {
  font-size: 26px;
  line-height: 40px;}

.partner{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  column-gap: 95px;
  margin: 0;
  padding: 0;}

    /*Main-fotter*/


.address-text{
  border: 1px solid white;
  weight: 319px;
  height: 308px;
  background-color:  var(--basic-white);
  text-align: center;}

.contacts {
  position: relative;}

.address-text {
  position: absolute;
  top: 54px;
  left: 140px;
  border: 1px solid white;
  width: 319px;
  height: 308px;}

.pointer {
  position: absolute;
  top: 86px;
  left: 822px;
  width: 231px;
  height: 190px;}

.contacts .nerds {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform:uppercase;}

.contacts p {
  color: var(--basic-dum-grey);
  line-height: 18px;}

.contacts-phone {
  color: var(--basic-dum-grey);}

.social-text {
  text-align: left;}

.modal span {
  font-size: 45px;
  line-height: 52,73px;
  font-weight: 700;}

.social{
  display: grid;
  grid-template-columns: 300px 1fr;}

.social p {font-size: 36px;
  line-height: 36px;
  font-weight: 700;}

.sale {
  line-height: 22px;}

.modal {
  outline: 5px solid rgba(255, 0, 0 , 0.3); /* убрать */
  width: 960px;
  height: 590px;
  text-align: center;}


/*Catalog*/

.page-catalog {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;}

.filters {
  width: 260px;}

.filters fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
  border: none;}

.page-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-align: left;}

.page-title ul {
  padding: 0;
  margin: 0;
  list-style: none;}

.price {
  line-height: 22px;
  color: var(--basic-extra-dark);}

.grid-list,
.features-list{
  line-height: 20px;
  padding-bottom: 18px;}

.button-show {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border: none;}

.sort {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);}

.sort .page-title{
  margin-left: 140px;
  margin-right: 266px;}

.template {
  display: flex;
  flex-wrap: wrap;
  margin-left: 141px;
  list-style: none;}

.template li {
  width: 329px;
  min-height: 579px;}

.template li:nth-child(1n) {
  padding-right: 20px;}

.card-template {
  weight: 360px;
  height: 231px;
  border: 1px solid var(--basic-beige);
  text-align: center;
  padding-top: 26px;
  padding-bottom: 44px;}

.card-template .page-title{
  text-align: center;
}

.template-info {
  line-height: 18px;
  color: var(--basic-dum-grey);
  text-align: center;}

.pagination-list ul{
  display: flex;
  justify-content: space-around;}

.pagination-item {
  color: var(--basic-black);}

.pagination-item a:hover {
  background-color: #DFDFDF;}

.pagination-item a:focus {
  background-color: #D5D5D5;}

.pagination-item a:active {
  background-color: rgba(0, 0, 0, 0.0001);}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: rgba(0, 0, 0, 0.0001);}
